* {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    box-sizing: border-box;
    color: #cccccc;
}

p  {
    color: #00cc99;
    font-size: 23px;
    margin: 16px 5% 16px 5%;
}

header {
    height:150px;
    color: #cccccc; 
    
}

header h1 {
     
    float: left; 
    width: 41%;
    font-size: 73px;
    text-emphasis:none;
    font-weight: 100;
    margin: 30px 2% 0 2% 
}

header nav{ 
    float: left;
    margin: 60px 3% 80px 3% ;
    font-size: 30px;
    text-decoration: none;
}


header  a { 
    text-decoration: none; 
}

header a:hover {
    color:#5effbf;
}

header a:active {
        color: #5effbf ;
}

article img {
    min-width:300px;
    float:right;
    margin: 0 1% 10px 1% 
}

article p { 
    width: 32%;
    float:left;
    margin: 0 2% 0 3%
}


article h1{
    color: #00cc99;
    font-size: 36px;
    line-height:44px;
    margin: 20px 0  0 5%
}
article h2{ 
    color: grey;
    font-size:24px;
    line-height:24px;
    margin: 10px 0 0 8%;
}
article ul { 
    font-size: 23px;
    margin: 5px 0 0 10%;
    color: grey
}

aside img {
    min-width:200px;
    float:left;
    margin: 15px 0 15px 5%;
}

.horiz { 
    
    float:left;
    margin: 10px 2% 10px 2%;
    
}
footer  {
    color:#aaaaaa;
    background-color:#ccfff5;
    width: 100%;    
    font-size:23px;
    margin-top: 50px;
    padding: 10px 0 10px 8%;
    float: right;
    }
footer  a { 
    clear: both;
    color: #aaaaaa;
    margin: 0 3% 0 3%;
    text-decoration: none; 
    }
footer a:hover {
    color:#00cc99;
}